/* PADRÃO DA PÁGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

span {
    color: #d450e3 !important;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 16px;
    color: #606060;
}

p {
    margin: 30px 0 0 0;
    font-size: 18px;
}

i {
    color: #fff;
}


.interface {
    margin-left: 60px;
    margin: 0;
}

.flex {
    display: flex;
}

/* MENU LATERAL */

nav.menu-lateral {
    width: 60px;
    height: 100%;
    background-color: #00000029;
    padding: 40px 5px;
    box-shadow: 3px 0 15px #d450e3;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    font-size: 34px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #d450e3;
    box-shadow: 0 0 15px #d450e3;
}

ul li.item-menu:hover {
    background-color: #e379efd0;
    box-shadow: 0 0 15px #e379efd0;
}

ul li.item-menu a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    color: #fff !important;
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu .icon > i {
    font-size: 30px;
    margin-left: 30%
}

/* PÁGINA INICIAL */

section.topo-site {
    padding: 150px 15%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-transform: uppercase;
}

.topo-site .img-home img {
    width: 300px;
    height: 200px;
}

.topo-site .txt-home span{
    color: #606060!important;
  }
  

/* PÁGINA QUEM SOMOS */

section.sobre {
    padding: 40px 8%;
}

section.sobre .flex {
    gap: 60px;
    justify-content: space-around;
}

.sobre .img-sobre img {
    width: 500px;
    height: 600px;
    box-shadow: 5px 5px 5px #d450e3;
}

.sobre .txt-sobre .fino {
    color: #fff !important;
    font-size: 55px;
    font-weight: 300;
}

.sobre .txt-sobre .negrito {
    font-size: 65px;
    font-weight: bold;
}

.sobre .txt-sobre p {
    text-align: justify;
    font-weight: 300;
}

.sobre .txt-sobre h1 {
    text-align: start;
}

.sobre .redes-sociais {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.sobre .redes-sociais button {
    padding: 10px;
    background-color: #4141417a;
    border: none;
}

.sobre .redes-sociais button:hover {
    background-color: #d450e3;
    cursor: pointer;
}

.sobre .redes-sociais i {
    color: #fff;
    font-size: 25px;
}

/* PÁGINA MINI MUNDO */

section.minim {
    padding: 40px 20%;
}

section.minim .flex {
    justify-content: center;
    align-items: center;
}

.minim .txt-minim {
    box-shadow: 5px 5px 5px #d450e3;
    padding: 25px 5px;
}

.minim .txt-minim p {
    font-size: 20px;
    line-height: 30px;
}

.minim .btn-minim {
    display: flex;
    padding: 40px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 20px;
}

.minim .btn-minim button {
    padding: 30px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #4141417a;
    color: #fff;
    border: 2px solid #d450e3
}

.minim .btn-minim button:hover {
    box-shadow: 5px 5px 5px #d450e3;
}

/* PÁGINA MODELO CONCEITUAL */

section.modelo-conceitual {
    padding: 40px 8%;
}

section.modelo-conceitual .flex {
    justify-content: center;
    align-items: center;
}

.modelo-conceitual .txt-conceitual h4 {
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.modelo-conceitual .img-conceitual img {
    width: 100%;
    height: auto;
    border: 2px solid #606060;   
    box-shadow: 5px 5px 5px #d450e3;
}


/* PÁGINA MODELO LÓGICO */

section.modelo-logico {
    padding: 40px 8%;
}

section.modelo-logico .flex {
    justify-content: center;
    align-items: center;
}

.modelo-logico .txt-logico h4 {
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.modelo-logico .img-logico img {
    width: 100%;
    height: 450px;
    border: 2px solid #606060;   
    box-shadow: 5px 5px 5px #d450e3;
}

/* PÁGINA MODELO FÍSICO */

section.modelo-fisico {
    padding: 40px 8%;
}

section.modelo-fisico .flex {
    justify-content: center;
    align-items: center;
}

.modelo-fisico .txt-fisico h4 {
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.modelo-fisico .btn-fisico {
    display: flex;
    justify-content: center;
    padding: 40px;
   
}

.modelo-fisico .btn-fisico button {
    padding: 30px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #4141417a;
    color: #fff;
    border: 2px solid #d450e3;
}

.modelo-fisico .btn-fisico button:hover {
    box-shadow: 5px 5px 5px #d450e3;
}

.modelo-fisico .btn-fisico form p {
    font-size: 17px;
    text-align: center;
}

.modelo-fisico .btn-fisico a {
    color: #d450e3;
    text-decoration: none;
}

modelo-fisico .btn-fisico a:hover {
    text-decoration: underline;
}


/* RESPONSIVIDADE */

@media screen and (max-width: 1020px) {

    /* DIV CLASS */

    .flex {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    /* PADRÃO */

    body {
        overflow: auto;
    }

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 20px;
    }

    /* MENU */

    nav.menu-lateral {
        width: 50px;
        height: 7%;
        padding: 5px 0px;
    }
    
    nav.menu-lateral.expandir {
        height: 100%;
    }

    .btn-expandir {
        padding: 5;        
    }

    ul li.item-menu .icon > i {
        margin-left: 2%
    }

    /* HOME */

    section.topo-site {
        padding: 40px 8%;
    }

    section.topo-site .flex {
        text-align: center;
    }

    .topo-site .t-site{
        position: absolute;
        top: 20%;
        left: 0%;
        z-index: -7;
    }
     
    /* QUEM SOU */

    section.sobre {
        padding: 40px 8%;
    }

    section.sobre .flex {
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .sobre .img-sobre img {
        width: 100%;
        height: auto;
    }

    .sobre .txt-sobre .fino {
        font-size: 39px;
    }

    .sobre .txt-sobre .negrito {
        font-size: 43px;
    }

    .sobre .redes-sociais {
        flex-direction: row;
    }

    .sobre .redes-sociais i {
        font-size: 35px;
    }

    /* MINI MUNDO */

    section.minim {
        padding: 40px 8%;
    }

    .minim .btn-minim {
        position: static;
        transform: none;
        padding: 20px;
        margin: 20px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }    

    /* MODELO CONCEITUAL */

    section.modelo-conceitual {
        padding: 40px 10%;
    }

    /* MODELO LÓGICO */

    section.mondelo-logico {
        padding: 40px 8%;
    }

    .modelo-logico .img-logico img {
        width: 100%;
        height: auto;
    }

    /* MODELO FÍSICO */

    section.modelo-fisico {
        padding: 40px 8%;
    }

    .modelo-fisico .btn-fisico {
        z-index: -7;
    }

}